<!DOCTYPE html>
<html>

<head>
    <title>Agent Dashboard</title>
</head>

<body>

<h1>
    Agent Dashboard
</h1>

<h3>
    Welcome {{ user.username }}
</h3>

<p>
    Handle customer support tickets.
</p>


<h2>
    Assigned Tickets
</h2>


<table border="1" cellpadding="10">

<tr>
    <th>Title</th>
    <th>Customer</th>
    <th>Category</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Action</th>
</tr>


{% for ticket in tickets %}

<tr>

    <td>
        {{ ticket.title }}
    </td>


    <td>
        {{ ticket.customer.username }}
    </td>


    <td>
        {{ ticket.category }}
    </td>


    <td>
        {{ ticket.priority }}
    </td>


    <td>
        {{ ticket.status }}
    </td>


    <td>
        <a href="{% url 'agent_ticket_detail' ticket.id %}">
            View Ticket
        </a>
    </td>


</tr>


{% empty %}

<tr>

    <td colspan="6">
        No tickets assigned
    </td>

</tr>

{% endfor %}


</table>


<br>


<a href="/accounts/logout/">
    Logout
</a>


</body>

</html>