{% extends "base.html" %}


{% block content %}


<div class="container mt-4">


<div class="card shadow">


<div class="card-header bg-primary text-white">

<h2 class="mb-0">
Ticket Details
</h2>

</div>



<div class="card-body">



<h3 class="text-primary">
{{ ticket.title }}
</h3>


<hr>



<div class="row">


<div class="col-md-6">

<p>
<strong>Customer:</strong>
{{ ticket.customer.username }}
</p>


<p>
<strong>Category:</strong>
<span class="badge bg-info">
{{ ticket.category }}
</span>
</p>


<p>
<strong>Priority:</strong>

{% if ticket.priority == "urgent" %}

<span class="badge bg-danger">
{{ ticket.priority }}
</span>

{% else %}

<span class="badge bg-warning">
{{ ticket.priority }}
</span>

{% endif %}

</p>


</div>




<div class="col-md-6">


<p>

<strong>Status:</strong>


{% if ticket.status == "resolved" %}

<span class="badge bg-success">
{{ ticket.status }}
</span>


{% elif ticket.status == "progress" %}


<span class="badge bg-primary">
{{ ticket.status }}
</span>


{% else %}


<span class="badge bg-secondary">
{{ ticket.status }}
</span>


{% endif %}


</p>


<p>
<strong>Created:</strong>
{{ ticket.created_at }}
</p>


</div>


</div>



<hr>



<h4>
Description
</h4>


<div class="alert alert-light">

{{ ticket.description }}

</div>




<hr>



<h4>
Update Status
</h4>


<form method="POST"
action="{% url 'update_ticket_status' ticket.id %}">


{% csrf_token %}


<div class="input-group">


<select name="status"
class="form-select">


<option value="open"
{% if ticket.status == "open" %}selected{% endif %}>
Open
</option>


<option value="progress"
{% if ticket.status == "progress" %}selected{% endif %}>
Progress
</option>


<option value="resolved"
{% if ticket.status == "resolved" %}selected{% endif %}>
Resolved
</option>


</select>



<button class="btn btn-success">

Update

</button>


</div>


</form>



<hr>



<h4>
Conversation
</h4>



<div class="card bg-light p-3">


{% for comment in comments %}



<div class="mb-3">


<strong>
{{ comment.user.username }}
</strong>


<p class="mb-1">

{{ comment.message }}

</p>


<small class="text-muted">

{{ comment.created_at }}

</small>


</div>


<hr>


{% empty %}


<p>
No conversation yet
</p>


{% endfor %}


</div>




<hr>




<h4>
Reply Customer
</h4>



<form method="POST"
action="{% url 'add_ticket_comment' ticket.id %}">


{% csrf_token %}


<textarea 
class="form-control"
name="message"
rows="5"
placeholder="Write reply to customer..."
></textarea>



<br>


<button class="btn btn-primary">

<i class="bi bi-send"></i>
Send Reply

</button>


</form>



<br>



<a href="{% url 'agent_dashboard' %}"
class="btn btn-secondary">

← Back Dashboard

</a>


<a href="/accounts/logout/"
class="btn btn-danger">

Logout

</a>



</div>


</div>


</div>


{% endblock %}