{% extends "base.html" %}


{% block content %}


<h1>
Welcome {{ request.user.username }}
</h1>


<div class="row mt-4">


<div class="col-md-4">

<div class="card shadow p-4">


<h4>
Create Ticket
</h4>


<p>
Create a new support request.
</p>


<a href="/tickets/create/"
class="btn btn-primary">

Create Ticket

</a>


</div>

</div>




<div class="col-md-4">

<div class="card shadow p-4">


<h4>
My Tickets
</h4>


<p>
View your submitted tickets.
</p>


<a href="/tickets/my-tickets/"
class="btn btn-success">

View Tickets

</a>


</div>

</div>




<div class="col-md-4">

<div class="card shadow p-4">


<h4>
Analytics
</h4>


<p>
View system analytics.
</p>


<a href="/tickets/analytics/"
class="btn btn-dark">

Analytics

</a>


</div>

</div>



</div>



{% endblock %}